<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="hijo2-examen">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `hijo2-examen`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class Hijo2Examen extends Polymer.Element {
      static get is() { return 'hijo2-examen'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'hijo2-examen'
          }
        };
      }
    }

    window.customElements.define(Hijo2Examen.is, Hijo2Examen);
  </script>
</dom-module>
