<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="hijo2-examen">
  <template>
    <style>
      :host {
        display: block;
      }
          table, th, td {
          border: 2px solid azure ;
         border-collapse: collapse;
     }
        
    table th {
        background-color: antiquewhite;
        height: 30px;
        width: 150px;
    }
        
    table tr {
        background-color: burlywood;
        height: 25px;
          
    }
    </style>
   <!-- <h2>Hello [[prop1]]!</h2>-->
      
    <template is='dom-if' if='[[lista]]'>
    <div  width="100%"  >
         <ul >
          <li>elemento 1</li>
          <li>elemento 1</li>
          <li>elemento 1</li>
         
      </ul>
    </div>  
    </template>
    <template is='dom-if' if='[[table]]'>
        <div  width="100%"  >
            <table width="100%">
                <tr>
                    <th>Dato 1</th>
                    <th>Dato 2</th>
                    <th>Dato 3</th>
                </tr>
                <tr>
                    <td>descripcion dato 1 </td>
                    <td>descripcion dato 2 </td>
                    <td>descripcion dato 3 </td>
                </tr>
                <tr>
                    <td>descripcion dato 1.1| </td>
                    <td>descripcion dato 2.1 </td>
                    <td>descripcion dato 3.1 </td>
                </tr>
            </table> 
           
            
        </div>        
    </template>
      
    <servicio2-element id="dmMovementsLabel"  on-data-label-response="_setData1"></servicio2-element>
    
  </template>
      


  <script>
    /**
     * `hijo2-examen`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class Hijo2Examen extends Polymer.Element {
      static get is() { return 'hijo2-examen'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'hijo2-examen'
          },lista: {
            value: false,
          },
            table: {
            value: false,
          },
        };
      }
        
    }

    window.customElements.define(Hijo2Examen.is, Hijo2Examen);
  </script>
</dom-module>
